/*these are all the code for the slideout menu*/

.inactive {
    display: none;
}

.active {
    display: block;
}

.headericon #slideouticon {
    border: red solid;
    float: left;
    margin: auto;
}

/*this is for all the header icon*/
.headericon img {
    padding-top: 1%;
    height: 100%;
    width: 100%;
    padding-bottom: 1%;
    float: none;
    width:auto;
}

#header {
    background-color: #1ab188;
}


.menu-side {
    background-color: #333;
    border-right: 1px solid #000;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    padding: 10px;
}

.homemenu {
    overflow-x: hidden;
    position: relative;
}

.menu-open {
    left: 400px;
}

.menu-side-open{
    left: 0px;
}

.headericon a{
    border: red solid;
}

.homemenu {
    -webkit-transition: left 0.1s ease;
    -moz-transition: left 0.1s ease;
    transition: left 0.1s ease;
}

.menu-side {
    -webkit-transition: left 0.1s ease;
    -moz-transition: left 0.1s ease;
    transition: left 0.1s ease;
}

/*slide menu*/

#sessionUser {
    font-size: 40px;
}

.slidemenuelements li {
    list-style: none;
}